<%- include('../partials/header') %>
<div class="row g-3">

    <div class="col">
    <% for (let cluck of clucks) { %>
        <br>
        <div class='container card mb-4' >
            <div class='card-body d-flex'>
                <div>
                    <img src="/images/profile_pic.jpg" width="100px">
                </div>
                <div class="card-text align-self-start" >
                <p>
                    <!-- logic to show when post was created -->
                    <%let diff =Date.now()- cluck.updated_at;
                    let time = diff/1000/3600;
                    let posted;
                    if(time<0.01){%>
                    <% posted = `Just now`;%>
                    <% } else if(time>0.01 && time < 1){%>
                        <%posted= `${Math.floor(time*60)} minute(s) ago`;%>
                    <% } else if(time>1 && time<24){%>
                        <% posted = `${Math.floor(time)} hour(s) ago`;%>
                    <% } else if(time>24){%>
                        <%posted = `${Math.floor(time/24)} day(s) ago`;%>
                    <% }%>
                    <strong><%=cluck.username%> | <em>Posted <%= posted %></em></strong>
                    <br>
                    <%= cluck.content %>
                </p>

                <% if (cluck.image_url) { %>
                <img
                    width="50%"
                    src='<%= cluck.image_url %>'
                    alt='post image'
                >
                <% } %>
                
                </div>
            </div> 
        </div>
    <% } %>
    </div>
</div>
<%- include('../partials/footer') %>
